<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="member">
 	<insert id="insertMember" parameterType="memberDto">
 		INSERT INTO MEMBER 
 		VALUES(#{id}, #{pwd}, #{nick}, #{addr}, #{age}, SYSDATE)
 	</insert>
 	
 	<select id="login" parameterType="memberDto" resultMap="mDto">
 		SELECT * FROM MEMBER
 		WHERE ID = #{id} and PWD = #{pwd}
 	</select>
 	
 	<select id="search" parameterType="memberDto" resultMap="mDto">
 		SELECT * FROM MEMBER
 		<if test="t != null and v != '' ">
	 		<choose>
	 			<when test="t eq 'age' ">
		 		<!-- ***나이검색*** -->
		 			WHERE AGE IN
			 		<foreach collection="v" item="a" open="(" close=")" separator=",">
			 			<!-- (20,21,22 같은 거) -->
			 			#{a}
			 		</foreach>
	 			</when>
	 			<otherwise>
		 		<!-- ***다른검색*** -->
			 		<bind name="pvp" value=" '%' + v + '%' "/>
			 		WHERE ${t} like #{pvp}
	 			</otherwise>
	 		</choose>
 		
 		
 		</if>
 		<!-- <choose>
 			<when test="t != null and v != '' ">
		 		<bind name="pvp" value=" '%' + v + '%' "/>
		 		WHERE ${t} like #{pvp}
 			</when>
 		</choose> -->
<!--  		<if test="t != null and v != '' ">
	 		WHERE ${t} = #{v}
 		</if> -->
 	</select>
 	
 	
 	<resultMap type="memberDto" id="mDto">
 		<result column="ID" property="id"/>
 		<result column="PWD" property="pwd"/>
 		<result column="NICK" property="nick"/>
 		<result column="ADDR" property="addr"/>
 		<result column="AGE" property="age"/>
 		<result column="ENROLL_DATE" property="enrollDate"/>
 	</resultMap>
 	
 </mapper>