#div-header{
	width: 80vw;
	height: 20vh;
	margin:0 auto;
}

/* #div-header table tr td{
    cursor:pointer;
}
 */
#div-header table{
	width: 100%;
	height: 100%;
	text-align: center;
	margin:0 auto;
}

#div-header table tr:nth-child(1){
	height: 100px;
}
#div-header table tr:nth-child(2){
	height: 50px;
}

#div-main{
	width:80vw;
	margin: auto;
}

#div-header table img{
	height: 100px;
	width: 100px;
}