<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="menu">
	<insert id="insertMenu" parameterType="menuVo">
		INSERT INTO MENU(MENU, PRICE)
		VALUES(#{menu}, #{price})	
	</insert>
	
	<!-- 실행결과의 타입이 menuVo로 -->
	<select id="selectMenuList" resultType="menuVo">
		SELECT * FROM MENU	
	</select>

</mapper>  

